@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 70%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.pages_spaces {
  @apply pt-[150px] pr-[365px] pl-[50px] pb-[50px];
}

.sm_box_gap {
  @apply gap-[15px];
}

.icon_color {
  @apply text-[#292D32];
}

.icon_size {
  @apply text-[24px];
}

.icon_border {
  @apply p-[13px] border border-[#E2E2E2] rounded-[10px] shadow-[0_3px_6px_#F1F1F1];
}

.p1 {
  @apply text-[14px];
}

.p2 {
  @apply text-[12px];
}
